
body {
margin: 0px;
background-color: #276CB2;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color: #276CB2;
}


a:link{text-decoration:none;  font-size:9pt; color:#000;}
a:visited {text-decoration: none; font-size:9pt; color:#000;}
a:hover {text-decoration: none; font-size:9pt; color:#FF9933; }
a:active{text-decoration: none; font-size:9pt; color:#FF9933;}

.left1 { background-repeat:no-repeat}

.left2 { background-repeat: no-repeat; color:#000; padding:3px;}


.left3 {}

.left4 {font-weight: bold;font-size:13px; color:#fff; padding: bottom-4px}

.left33 a{background:url(image/pic_left5.gif) left no-repeat;display:block;
   padding-left:12px; }

.right { border-top:solid 1px #87771F ;border-right: solid 1px #877720 ;}

.right2 { border:solid 1px #87771F ; }

.leftmenutitle      {font-weight: bold;font-size:15px; color:#fff;}
.leftmenutitleclick {font-weight: bold;font-size:15px; color:#0C4487;}

.style1 {font-size:14px;font-weight: bold;color:#000;}

.style2 {font-weight: bold;font-size:12px;}

.style3 {font-weight: bold;font-size:15px;}

.top { padding:0px 30px 0px 0px; }

.top3 { padding:4px 0px 0px 0px; }

.top2 { padding:0px 30px 3px 3px; font-weight: bold ; font-size:30px ;color:#FFFFFF;}

.right3 { border:solid 10px #ABD8F8; background-color:#FFFFFF}

.right4 { padding:5px 5px 5px 20px; line-height:16px;}

.right5 { padding:7px 0px 0px 7px; line-height:18px; background-color:#ABD8F8;}




a.left:link{text-decoration:none;  font-size:12px; color:#FFFFFF; font-weight: bold}
a.left:visited {text-decoration: none; font-size:12px; color:#FFFFFF; font-weight: bold}
a.left:hover {text-decoration: none; font-size:12px; color:#FCFF00; font-weight: bold}
a.left:active{text-decoration: none; font-size:12px; color:#FCFF00; font-weight: bold}
a.click:link{text-decoration:none;  font-size:12px; color:#FCFF00; font-weight: bold}
a.click:visited {text-decoration: none; font-size:12px; color:#FCFF00; font-weight: bold}
a.click:hover {text-decoration: none; font-size:12px; color:#FCFF00; font-weight: bold}
a.click:active{text-decoration: none; font-size:12px; color:#FCFF00; }
.formnav a:link{text-decoration:none;  font-size:12px; color:#0C4487; }
.formnav a:visited {text-decoration: none; font-size:12px; color:#0C4487;}
.formnav a:hover {text-decoration: none; font-size:12px; color:#0C4487; }
.formnav a:active{text-decoration: none; font-size:12px; color:#0C4487;}

a.top1:link{text-decoration:none;  font-size:9pt; color:#333333;}
a.top1:visited {text-decoration: none; font-size:9pt; color:#333333;}
a.top1:hover {text-decoration: none; font-size:9pt; color:#F39507;}
a.top1:active{text-decoration: none; font-size:9pt; color:#F39507;}








/* CSS Document */
html {
	
	
}
body input {font-size:12px; }
body textarea{font-size:12px;}
body{
	/*SCROLLBAR-FACE-COLOR: #72A3D0; SCROLLBAR-HIGHLIGHT-COLOR: #337ABB; 
SCROLLBAR-SHADOW-COLOR: #337ABB; SCROLLBAR-DARKSHADOW-COLOR: #337ABB; 
SCROLLBAR-3DLIGHT-COLOR: #337ABB; SCROLLBAR-ARROW-COLOR: #FFFFFF;
SCROLLBAR-TRACK-COLOR: #337EC0; */
   	margin:0px;
   	background-color:#ffffff;
   /*  overflow: hidden;*/
   	font-size:12px;
   	color:#666666;
	
	/*SCROLLBAR-TRACK-COLOR: #276CB2;*/
   }
body td{
   font-size:12px;
   color:#666666;
   }


.blueback1 {
	font-size:        4pt;
	background-color: #336699;
}
.blueback2 {
	background-color:#336699;
	height:30px;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:15px;
}
.title { font-size:22px; color:#336699; font-weight:bold;}
.headnav { color:#000000; margin:5px;}
.headnav a{
	text-decoration:none;
    	color:#FF6600;
}
.headnav a:link a:visited{
    	color:#FF6600;
}
.headnav a:hover{
    	color:#000000;
		text-decoration:underline;
}  

.tablenav { text-align:right; background-color:#E4EDF9; width: 98%;}
.tablenav input{ border: 1px solid #69A4D2; background:url(image/input_bg.png);color: #135294; font-size: 12px; font-weight: bold;font-variant: normal;padding-top:2px}


.button_input{
  border: 1px solid #69A4D2;
	background:url(image/input_bg.png);
 	color: #135294; 
 	font-weight: bold;
 	font-variant: normal;
	padding-top:2px
}

.button_input_hand{
 border: 1px solid #999999;
 padding-left:14px;
 padding-top:3px;
 background:url(../images/add_input.gif) no-repeat 3px 2px;
 background-color: #fff;
 color: #FF6600; 
 font-size: 14px; 
 font-variant: normal;
}

.button_input_pnum{
 border: 1px solid #999999;
 padding-left:14px;
 padding-top:3px;
 background:url(images/copy.gif) no-repeat 3px 2px;
 background-color: #fff;
 color: #FF6600; 
 font-size: 14px; 
 font-variant: normal;
}


.button_input_jump{
 border: 1px solid #999999;
 padding:3px 10px 0px 20px;
 background:url(images/add_input.gif) no-repeat 3px 2px;
 background-color: #fff;
 font-size: 14px; 
 font-variant: normal;
}

.button_input_jump a:link {
	text-decoration: none;
	color: #FF6600;
}
.button_input_jump a:visited {
	text-decoration: none;
	color: #FF6600;
}
.button_input_jump a:hover {
	text-decoration: none;
}
.button_input_jump a:active {
	text-decoration: none;
}


.button_input_garbage{
 border: 1px solid #999999;
 background:url(../images/delete_g.gif) no-repeat left;
 background-color: #fff;
 color: #FF6600; 
 font-size: 14px; 
 font-variant: normal;
}

.button_input_file{
 border: 1px solid #999999;
 background:url(../images/dirs.gif) no-repeat left;
 background-color: #fff;
 color: #FF6600; 
 font-size: 14px; 
 font-variant: normal;
}


.leftnav { 
	margin-left:4px;
	
} 


.leftc a{
	color:#FF6600;
	display:block;
	line-height:22px;
	padding-left:11px;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	text-decoration:none;
}



.leftc a:link a:visited{
    	color:#FF6600;
}
.leftc a:hover{
    	color:#ffffff;
		background-color:#CCCCCC;
		font-size:14px;
} 

.f_two {background-color:#E6E6E6; color:#FF6600;}
.f_one {background-color:#FFFFFF; color:#000000;}

.formtable {border: 1px solid #ABD8F8;} 
.formtable th { background:url(image/pic_bg_index.png);}
.formtable td{background-color:#EBF7FD; color:#08417C; padding:2px;}
.formtable td input text{ border:1px #E6E6E6 solid;color:#336699;}
.formtable td textarea{ border:1px #cccccc solid;color:#336699;}
.formsubmit{ border:1px  #FF6600 solid;color:#FFFFFF; height:20px; background-color:#FF6600;}


.formnav {
    background:url(image/icon_right1.png) no-repeat left;
	color:#0C4487; 
	border-bottom:2px #336699 solid; 
	line-height:22px; 
	font-size:12px; 
	margin-left:auto;
	margin-right:auto;
	width:97%;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:30px;
}


.formnav2 {
	margin-bottom:8px;
	padding-left: 15px;
	font-weight:bold;
}

.listtitle td{
	background-color:#999999; 
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	line-height:25px;
	text-align:center;
}

.list {color:#336699;
text-align:center;}
.listtable a{
	text-decoration:none;
    	color:#0090DA;
}
.listtable a:link a:visited{
    	color:#0090DA;
}
.listtable a:hover{
    	color:#000000;
		text-decoration:underline;
} 
.listtable {
    color:#336699;
}

.listtable th {
    color:#336699; background-color:#A6D0F6; font-size:12px; padding: 5px 5px 3px 5px ;
}

.listtablebg {
     background-color:#E8F0F8;
}

.listtable td {
   font-size:12px; padding: 5px 5px 3px 5px ;
}
.input{
	border:1px solid #336699;     
	background-color:#FFFFFF;
	color:#336699;
} 


.foot{
	margin-top:10px;
   height:15px;
   line-height:15px;
   width:97%; 
   text-align:center;
   font-size:12px;
   color:#0C4487;
   margin-left:auto;
    margin-right:auto;
   }
   
.panelbox {
       BORDER: #336699 1px solid;
       DISPLAY: block; 
       Z-INDEX: 1000;
       BACKGROUND: #FFFFFF; 
       MARGIN: 0px 0px 0px -300px; 
       WIDTH: 630px;  
       POSITION: absolute; 
       HEIGHT: 400px; 
       TEXT-ALIGN: left
}
.panelbanner { width:628px;position:absolute;background:#336699;text-align:right; height:20px;}
.panelbanner a{color:#FFFFFF; text-decoration:none;}
.panelbanner a:link a:visited{
	padding-right:2px;
	width:100%;
	font-size:12px;
	color:#FFFFFF;
}
.panelcontent {
	position:absolute;
	margin-top:20px; 
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	height:378px;
}


.overBack {
     BACKGROUND-COLOR: #CCCCCC;
}

.outBack {
     BACKGROUND-COLOR: #FFFFFF; 
}

.modulenav {width:90%; margin-left:auto; margin-right:auto; text-align:left;}
.modulenav a{ font-size:13px;color:#336699;display:block; padding:3px;margin:1px; border:1px solid #ccc;text-decoration:none;}
.modulenav a:link{ background-color:#FFFFFF;}
.modulenav a:hover{ text-decoration:underline;}

.checkspan {
		BORDER: #ff6600 1px solid;
		PADDING-LEFT: 24px; 
		FONT-SIZE: 12px;
		COLOR: red; 
		background:url(image/error.gif) no-repeat 0px 0px;
		TEXT-ALIGN: left;
		background-color:#FFFFFF;
}


.loading {  
	position:absolute;
	background-color:#FFFFFF;
	z-index:6000;
	DISPLAY:block;
	border:1px dashed #FF6600;
	font-size:12px;
	color:#336699;
	width:150px;
	height:25px;
	padding-top:4px;
	padding-left:15px;
	text-align:center;

}


#panelmenu{
	position:absolute;
	visibility: hidden;
	border:1px solid #ABD8F8;
	font:12px Verdana;
	border-bottom:none;
	line-height: 20px;
	z-index: 100;
	background-color:#E6F6FF;
	width: 140px;
	text-align:left;
}

#panelmenu a{
	border-bottom:1px #ABD8F8 dotted;
	color:#336699;
	width: 100%;
	display: block;
	text-indent: 3px;
	padding: 1px 0;
	text-decoration: none;
	text-indent: 5px;
}

#panelmenu a:link{
	border-bottom:1px #ABD8F8 dotted;
	color:#336699;
	width: 100%;
	display: block;
	text-indent: 3px;
	padding: 1px 0;
	text-decoration: none;
	text-indent: 5px;
}

#panelmenu a:hover{
	background-color:#276CB2;
	color:#FFF;
	font-weight: bold;
}
#panelmenu a:visited{
	color:#336699;
}



.leftnav { 
	margin-left:4px;
	
} 


.leftc a{
	color:#FF6600;
	display:block;
	width:100%;
	line-height:22px;
	padding-left:11px;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	text-decoration:none;
}



.leftc a:link a:visited{
    	color:#FF6600;
}
.leftc a:hover{
    	color:#ffffff;
		background-color:#CCCCCC;
		font-size:14px;
} 


.templateimg {
	height:105px; width:140px;
}
.templateimg_hover{
	height:210px; 
	width:280px;
	position:absolute;
	display: block;
	margin: -60px 0 0 -60px;
	border:1px solid #000000;
}



.msgbox {
	z-index:5001;
	width:450px;
	height:120px;
	position:absolute;
	border:1px solid #336699;
	MARGIN: -225px 0px 0px -215px;
	background-color:#FFFFFF;
}

.msgboxgreen {
	z-index:5001;
	width:450px;
	height:120px;
	position:absolute;
	border:1px solid #99CC00;
	MARGIN: -225px 0px 0px -215px;
	background-color:#FFFFFF;
}
.msgboxred {
	z-index:5001;
	width:450px;
	height:120px;
	position:absolute;
	border:1px solid #FF0000;
	MARGIN: -225px 0px 0px -215px;
	background-color:#FFFFFF;
}



.msgboxbanner {
	font-size:14px;
	padding: 4px 4px 4px 10px;
	height:20px;
	cursor:move;
	
	display:block; 
	color:#FFFFFF;
	background-color:#336699;
}

.msgboxbannergreen {
	font-size:14px;
	padding: 4px 4px 4px 10px;
	height:20px;
	
	cursor:move;
	display:block; 
	color:#FFFFFF;
	background-color:#99CC00;
}

.msgboxbannerred {
	font-size:14px;
	padding: 4px 4px 4px 10px;
	height:20px;
	
	cursor:move;
	display:block; 
	color:#FFFFFF;
	background-color:#FF3300;
}

.msgboxcontent {
	font-size:14px;
	padding: 20px 5px 5px 5px;
	text-align:center;
	background-position:left;
	background-repeat:no-repeat;
}





.msgboxurl {
	position:relative;
	font-size:12px;
	padding: 3px 15px 3px 3px;
	border-top:1px dotted #CCCCCC;
	top:28px;;
	text-align:right;
	color:#999999;
}
.msgboxurl a:link{
	color:#999999;
	font-size:12px;
	text-align:right;
	text-decoration:underline;
}
.msgboxurl a:visited{
	color:#999999;
	font-size:12px;
	text-align:right;
	text-decoration:underline;
}


